## Consumir API

In [1]:
import sys
#!{sys.executable} -m pip install pandas uvicorn fastapi requests

In [2]:
import requests
import pandas as pd
import json

In [3]:
url = 'http://localhost:8000'
headers = {"Content-Type": "application/json"}


def frame(args):
    return pd.DataFrame(args)

In [4]:
'''
Obtener todos los registros de la DB.

skip: número de registro donde comenzara a obtener los datos de la DB.
limit: máximo de elementos a obtener.
'''


def get_all_items(**kwargs: int) -> list:
    '''
    skip: int | optional
    limit: int | optional
    '''
    #return pd.DataFrame(requests.get(f'{url}/inmuebles', params=kwargs, headers=headers).json())
    return frame(requests.get(f'{url}/inmuebles', params=kwargs, headers=headers).json())


get_all_items()

,id,municipio,fraccionamiento,model,address,price,ground_area,area,bathrooms,rooms,parkings
0,1,Salinas Victoria,Pilares La Puerta,Águila,ÁguilaTitanio 109 Pilares laPuerta sector Pl...,761000,None,None,2 h,1 b,2 e
1,2,Salinas Victoria,Pilares La Puerta,Águila Real,Águila RealTitanio 109 Pilares laPuerta sect...,799000,None,None,2 h,1.5,2 e
2,3,Juarez,Privada Belterra,Milán,MilánCalle Prol. Pablo Livas S/N Privada Belt...,1232000,None,None,3 h,2 b,1 e

In [5]:
'''
Obtener todos los fraccionamientos por municipio.

municipio: nombre del municipio a obtener.
'''


def get_all_in_mun(args: str) -> list:
    '''
    args: str | required
    '''
    return frame(requests.get(f'{url}/inmuebles/{args}', headers=headers).json())


get_all_in_mun('Salinas Victoria')

,id,municipio,fraccionamiento,model,address,price,ground_area,area,bathrooms,rooms,parkings
0,1,Salinas Victoria,Pilares La Puerta,Águila,ÁguilaTitanio 109 Pilares laPuerta sector Pl...,761000,None,None,2 h,1 b,2 e
1,2,Salinas Victoria,Pilares La Puerta,Águila Real,Águila RealTitanio 109 Pilares laPuerta sect...,799000,None,None,2 h,1.5,2 e

In [6]:
'''
Obtener un fraccionamiento en determinado municipio y fraccionamiento.

municipio: nombre del municipio a filtrar.
fraccionamiento: nombre del fraccionamiento a filtrar del municipio.
'''


def get_fracc_in_mun(mun: str, fracc: str) -> list:
    return frame(requests.get(f'{url}/inmuebles/{mun}/{fracc}', headers=headers).json())


get_fracc_in_mun('Juarez', 'Privada Belterra')

,id,municipio,fraccionamiento,model,address,price,ground_area,area,bathrooms,rooms,parkings
0,3,Juarez,Privada Belterra,Milán,MilánCalle Prol. Pablo Livas S/N Privada Belt...,1232000,None,None,3 h,2 b,1 e